{% load static %}

<!-- Header -->
<header style="border: 1px;" class="m-4">
  <!-- Messages -->
  <!-- <div>
    {% if messages %}
      {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div> -->
  <!-- End Messages -->
  <div>
    <!-- Navbar -->
    <!-- Important: columns can be used directly in navbar since it is d-flex -->
    <nav class="navbar navbar-expand-md navbar-light bg-info p-0 py-2">
      <div class="container-fluid">        
          <h1><a class="nav-link text-white p-0" href="/">CYFuture Technologies</a></h1>
          <p class="text-muted me-0">
                {% if user.is_authenticated %}
                <h4>Hi&nbsp;{{user.first_name}}</h4>&nbsp;&nbsp;
                <a href="{% url 'logout' %}"><button class="btn btn-outline-info">Logout</button></a>
                {% else %}
                <a href="{% url 'login' %}"><button class="btn btn-outline-light">LogIn</button></a>
                {% endif %} 
          </p>
      </div>
    </nav>
    <!-- End Navbar -->
  </div>
</header>
<!-- End Header -->
